body{
    overflow-x: hidden;
}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #f38181; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50%; 
    font-size: 14pt;
}
  
  #myBtn:hover {
    background-color: #999999;
}
#main{  
    background-image: url(../img/bg.jpg);
    background-size: cover;
    text-align: center;
}
.header{ 
    opacity: 90%; 
    background-image: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)); 
} 
.navbar-brand{
    display: inline-block; 
    margin-top: 8px; 
}
.navbar-brand{
    color: #ffffff;
    text-decoration: none;
    font-size: 30pt;
    font-weight: bold; 
    font-family: 'Montserrat',;
}
.navbar-brand:hover{
    color: #ffffff;
} 
.navbar-nav{
    display: block;  
    align-items: center;
    align-self: center;
    align-content: center;
    margin-left: auto;
}
.nav-item{
    display: inline-block; 
    padding: 17px 0px 0px 20px; 
} 
.nav-link{
    text-decoration: none; 
    padding-bottom: 7px; 
    display: flex;
    color: #ffffff;  
    font-size: 14pt;
    font-weight: 500px;
    font-family: 'Montserrat',;
    border-bottom: 3px solid transparent;
}
.nav-link:hover{
    border-bottom: 3px solid #fce38a;
    color: #fff;
}
.nav-link-i{
    text-decoration: none; 
    padding-bottom: 7px; 
    display: flex;
    color: #ffffff;  
    font-size: 14pt;
    font-weight: 400px;
    font-family: 'Montserrat',;
}
.nav-link-i:hover{
    color: #ffffff;
}
.nav-link.active {
    border-bottom: 3px solid #fce38a;
} 
.navbar-toggler{
    color: #ffffff;
    margin-left: auto;
    padding: 0.25rem 0.20rem;
    font-size: 2rem;
    line-height: 1; 
}  
.banner{ 
    margin-top: 70px;
}
.fh{
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -2.0px;
    color: #f2f2f2;
    margin-bottom: 0px; 
}  
.sh{
    font-size: 120px;
    font-weight: bold;
    font-family: 'Montserrat',;
    color: #f2f2f2;
    background-color: transparent;
}
.sh::after{
    background-color: #f2f2f2;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
} 
.btn-lm{
    color: #f2f2f2;
    font-size: 14pt;
    padding: 0px 20px;
    font-family:'Montserrat', ;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid #f2f2f2; 
    margin-bottom: 40px;
}
.btn-lm:hover{
    background-color: #f38181;
    border: none;
    padding: 3px 20px;
} 
.range{
    height: 50px;
}
.rf{
    width: 100%;
}
.rnum{
    display: inline;
    font-size: 17px;
    font-weight: bold;
    color: #f2f2f2;
    float: left;
    font-family:'Montserrat', ;
}
.rname{
    display: inline;
    font-size: 14px;
    font-weight: 500;
    color: #f2f2f2;
    float: left;
    margin-left: 3px; 
    font-family:'Montserrat', ;
}
/* =======================Banner End======================== */

/* ============================About US Start===================== */

#about-us{
    background-color: #fff;
    padding-bottom: 110px; 
}
.text-aa{
    padding: 60px  60px;
}
.wwd{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.sau{
    font-size: 30pt;
    font-weight: bold; 
}
.sau::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.aslt{
    color: #999999;
    font-size: 15pt;
    line-height: 24pt; 
    font-weight: 400px;
}  
.box1{ 
    position: relative;
    overflow: hidden;
    text-align: center;
}
.box1:hover{ 
    margin-left: -8px;
    margin-top: -8px;
    box-shadow: 8px 8px #95e1d3; 
}
.box1::before{
    content: "";
    position: absolute;
    background: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)) ;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0px;
    opacity: 1%;
    transition: all 0.4s linear;
}
.box1:hover:before{
    opacity: 85%;
}
.box1 img{
    width: 100%;
    height: auto;
    /* transition: all 0.4s linear;  */
}  
.box1 .box-content1{
    color: #fff;
    width: 100%;
    transform: translateY(-50%) scale(0);
    position: absolute;
    top: 55%;
    left: 0;
    font-family: 'Montserrat',;
    font-weight: bold;
    font-size: 18pt;
    /* transition: all 0.4s linear;  */

}
.box1:hover .box-content1{
    transform: translateY(-50%) scale(1);  
}
.box1 .box-icon1{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    right: 8px; 
} 
.box-icon1 li a{
    text-decoration: none;
    color: #fff;
    margin-left:auto;
    margin-right: auto;
}
.box1:hover .box-icon1{
    color: #fff;
    font-family: 'Montserrat',;
    font-weight: bold;
    font-size: 18pt;
    width: 100%;
    position: absolute;
    top:36%;
    left: 0  ;
} 
/* ===========about us End==============   */

/* ===================FACTS START================= */

#facts-s{
     background-color:#95e1d3 ;
     /* height: 270px; */
} 
.fsb{
    display: flex;
}
.fmbx{  
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
} 
.vl{
    border-left: 0.1px solid #ffffff;
    height: 100%;  
}
.hr{
    display: none;
}
.fsff{
    display: inline;
    font-size: 72pt;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0px;
    font-family: 'Montserrat',;
}
.fsfr{
    font-size: 14pt;
    font-weight: 400px;
    font-family: 'Montserrat',;
    color: #ffffff;
}
 
/* ======================FACTS END==================== */

/* =================AMAZING SERVICES START====================  */

#a-services-s{
    background-color: #fff;
     
} 
.asc{
    padding-bottom: 70px;
    padding-top: 80px;
}
.text-aass{
    padding: 30px  60px;
}
.www{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.as{
    font-size: 30pt;
    font-weight: bold; 
}
.as::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.as2pmb{
    display: block; 
}
.asib2b{
    display: block; 
    margin-bottom: 90px;
}
.asibpg{
    display: flex;
}
.asipgl{
    width: 35pt;
    height: 33px; 
    display: flex;
    margin-top: 5px;  
}
.asbpbt{
    display: block;
    margin-left: 25px;
}
.asipgt{
    display: inline-flex-box;
    font-size: 14pt;
    font-family: 'Montserrat',;
    font-weight: 500;
    margin-bottom: 5px; 
}
.asipgd{
    display: inline;
    font-family: "Roboto",;
    font-size: 15pt;
    font-weight: 400;
    color: #999999;
}
.asib22b{
    display: block; 
    margin-bottom: 90px;
}
.asibseo{
    display: flex;
}
.asisel{
    width: 35pt;
    height: 33px; 
    display: flex;
    margin-top: 5px;
}
.asbsbt{
    display: block;
    margin-left: 25px;
}
.asibst{
    display: inline-flex-box;
    font-size: 14pt;
    font-family: 'Montserrat',;
    font-weight: 500;
    margin-bottom: 5px;
}
.asibsd{
    display: inline;
    font-family: "Roboto",;
    font-size: 15pt;
    font-weight: 400;
    color: #999999;
}
/* =================AMAZING SERVICES END====================  */

/* =====================Feature Start================-==== */

#feature-s{
    background-size: cover;
    text-align: center;
    background-image: url(../img/f3.jpg);
}
.fmain{
    background-color: #f2f2f2;
    opacity: 85%; 
}
.text-afs{
    padding: 0px  60px;
    padding-top: 110px;
    padding-bottom: 25px;
}
.fad{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.UD{
    font-size: 30pt;
    font-weight: bold; 
}
.UD::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.fsimgf{
    height: 600px;
    width: 550px;
    margin-left: auto;
    margin-right: auto; 
    background-color: transparent;
}
.fsimg2f{
    margin-left: -110px;
    margin-bottom: -250px;
}
/* ========================Feature End=================== */

/* =========================SERVICE START=================== */
#services-s{
    margin-bottom: 80px;
} 
.text-as2{
    padding: 0px  60px;
    padding-top: 110px;
    padding-bottom: 25px;
}
.st{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.wwdo{
    font-size: 30pt;
    font-weight: bold; 
}
.wwdo::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.s2st{
    color: #999999;
    font-size: 15pt;
    line-height: 24pt; 
    font-weight: 400px;
} 
.s2si{
    margin-bottom: 25px;
    height: 380px;
    width: 570px; 
} 
.accordion{
    margin: 0px 0px 0px 25px;
    width: 100%;
}
.accordion-item{
    border: 1px solid #cccccc; 
    margin-bottom: 20px;
} 
.bb-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; 
    text-decoration: none;
}
.bb-link i:hover{ 
    color: #cccccc;  
}
.bb-link i{
    width: 21px;
    height: 12px;
    font-size: 14pt;
    color: #cccccc; 
    text-decoration: none;
}
.ltp{
    display: flex;
    align-items: center;
}
.ltp img{
    width: 30px;
    height: 30px;
}
.ltp h1{
    font-size: 14pt;
    font-weight: 500;
    font-family: 'Montserrat',;
    padding-left: 20px;
    margin-bottom: 0px; 
    color: #000;
}
.ltp h1:hover{
    color: #000;
} 
.bb-link .fa-chevron-up{
    display: none;
}
.d-lorem{
    max-height: 0;
    overflow: hidden; 
    border-top: 1px solid #cccccc;
    padding-right: 20px;
} 
.pltf{
    padding: 15px; 
    font-size: 15pt;
    font-style: italic;
    font-family: 'Roboto',;
    color: #cccccc;
    height: 130px;
    overflow-y: scroll; 
}
.pltf::-webkit-scrollbar{
    width:  7px;
    height: 5px;
} 
.pltf::-webkit-scrollbar-track {
    background-color: transparent;
  }
.pltf::-webkit-scrollbar-thumb {
    background-color: #95e1d3;
    border-radius: 5px; 
}  
.accordion-item:target .d-lorem{
    max-height: 10rem;
} 
.accordion-item:target .bb-link .fa-chevron-down{
    display: none;
}
.accordion-item:target .bb-link .fa-chevron-up{
    display: block;
}
 
/* ============================SERVICES END===================== */

/* ==============================Quote- START===================== */

#quote-s{
    background-color: #f2f2f2; 
} 
.qtca{
    display: flex;
    padding: 70px 0px;
    justify-content: space-between; 
}
.qimg{
    border: 2px solid #95e1d3;
    padding: 70px;
    margin-left: 30px; 
} 
.slick-prev:before, .slick-next:before{
    color:#999999;
}
.slick-next:before, .slick-prev:before{
    color:#999999;
    float: right;
    justify-content: space-between;
}
.qtnau{
    display: block;
    justify-content: space-between;
    margin-left: 50px; 
} 
.aut{
    font-size: 24pt;
    font-style: italic;
    font-family: 'Roboto',;
    color: #cccccc;
    margin-bottom: 0px;
    display: block;
} 
.auna{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
    display: flex;
    margin-top: 20px;
}
.auna::before{
    background-color: #f38181;
     content: "";
     display: flex;
     width: 60px;
     height: 3px; 
     margin-top: 20px;
     margin-right: 10px;
} 
/* .fa-chevron-left{
    height: 21px;
    width: 12px;
    color: #999999;
}
.fa-chevron-right{
    height: 21px;
    width: 12px;
    color: #999999;
} */
  
/* ======================Quote END============================ */

/* =======================OUR TEAM START====================== */

.tots{ 
    padding-top: 110px;
    padding-bottom: 25px;
}
.wwa{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.mot{
    font-size: 30pt;
    font-weight: bold; 
    font-family: 'Montserrat';
}
.mot::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.otlt{ 
    color: #999999;
    font-size: 15pt;
    line-height: 24pt; 
    font-weight: 400px;
    margin-bottom: 5rem; 
}  
.box{
    position: relative;
    overflow: hidden;
    text-align: center;
}
.box:hover{ 
    margin-left: -8px;
    margin-top: -8px;
    box-shadow: 8px 8px #95e1d3; 
}
.box::before{
    content: "";
    position: absolute;
    background: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)) ;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0px;
    opacity: 1%;
    transition: all 0.4s linear;
}
.box:hover:before{
    opacity: 85%;
}
.box img{
    width: 100%;
    height: auto;
    transition: all 0.4s linear; 
} 
.box img:hover{
    margin-left: -8px;
    margin-bottom: -8px;
}  
.box .box-icon{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    right: 8px; 
} 
.box-icon li a{
    text-decoration: none;
    color: #fff;
    margin-left:auto;
    margin-right: auto;
}
.box:hover .box-icon{  
    font-size: 18pt;
    width: 100%;
    position: absolute;
    top:45%;
    left:0; 
}
.box-icon{
    display: flex;
    justify-content: center;
    width: 224px;
    height: 56px;
}
.box-icon li{
    display: flex;
    margin-left: 1px;
    align-items: center; 
} 
.iclist i{
    background-color: #fce38a; 
    color: #f38181; 
    margin: 0px;
    padding: 18px 19px;
    font-size: 14pt;
    font-family: 'Montserrat',;
} 
.active i{
    color: #fff;
    background-color: #f38181;
}  
.ntot{
    margin-top: 30px;
    display: block;
} 
.mattdix{
    font-size: 14pt;
    font-family: 'Montserrat',;
    font-weight: 500px;
    margin-bottom: 10px;
}
.gpd{
    font-size: 15pt;
    font-family: 'Roboto',;
    font-style: italic;
    color: #999999;
}
.oti2{
    width: 380px;
    height: 470px;
}
.otim3{
    width: 380px;
    height: 470px;
}

/* =======================OUR TEAM END========================= */

/* =========================LOGOS START===================== */

.logos-s{
    background-color: #f2f2f2;
    margin-top: 70px;
}
.logos-m{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}
.logos-m img{
    width: 120px;
    height: 120px;
}

/* ================================LOGOS END===================== */

/* ===================WORK SECTION START================= */

.text-ws{ 
    padding-top: 110px;
    padding-bottom: 25px;
}
.wad{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.souw{
    font-size: 30pt;
    font-weight: bold; 
}
.souw::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.wslt{ 
    color: #999999;
    font-size: 15pt;
    line-height: 24pt; 
    font-weight: 400px;
    margin-bottom: 5rem; 
}
.gallery-s{
    display: block;
    width: 100%;
    max-width: 100%;
}
/* .gallery-s:after {
    content: '';
    display: block;
    clear: both;
} */
.gallery-s img{
    width: 100% !important; 
}
.gmain{
    position: relative;
    overflow: hidden;
    text-align: center; 
}
.gmain::before{
    content: "";
    position: absolute;
    background: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)) ;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0px;
    opacity: 1%;
    transition: all 0.4s linear;
}
.gmain:hover:before{
    opacity: 85%;
}
.gmain img{
    width: 100%;
    height: auto;
    transition: all 0.4s linear; 
}  
.gmain .g-content{
    color: #fff;
    width: 100%;
    transform: translateY(-50%) scale(0);
    position: absolute;
    top: 55%;
    left: 0; 
    /* transition: all 0.4s linear;  */

}
.gmain:hover .g-content{
    transform: translateY(-50%) scale(1);  
}
.gmain .g-content .g-title{
    font-size: 14pt;
    font-weight: 400px;
    font-family: 'Montserrat',; 
}
.gmain .g-content .g-post{
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    font-style: italic;
    font-weight: 300px;
    letter-spacing: -1px;
}
.gmain .g-icon{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    right: 8px; 
} 
.g-icon li a{
    text-decoration: none;
    color: #fff;
    margin-left:auto;
    margin-right: auto;
}
.gmain:hover .g-icon{
    color: #fff;
    font-family: 'Montserrat',;
    font-weight: 500px;
    font-size: 20pt;  
    position: absolute;
    top:36%;
    left: 0  ;
    bottom: 20px;
} 
  
/* =======================WORK SECTION END===================== */

/* ==============================testimonial START===================== */

#testimonial-s{
    background-color: #fff; 
} 
.tmca{
    display: flex;
    padding: 80px 0px;
    justify-content: space-between; 
}
.timg{ 
    margin-left: 30px; 
}  
.tmnau{
    display: block;
    justify-content: space-between;
    margin-left: 50px; 
} 
.aut{
    font-size: 24pt;
    font-style: italic;
    font-family: 'Roboto',;
    color: #cccccc;
    margin-bottom: 0px;
    display: block;
} 
.auna{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
    display: flex;
    margin-top: 20px;
}
.auna::before{
    background-color: #f38181;
     content: "";
     display: flex;
     width: 60px;
     height: 3px; 
     margin-top: 20px;
     margin-right: 10px;
} 
  
/* ======================testimonial END============================ */

/* =======================WHAT PEOPLE SAY START===================== */

.wps-s{ 
    background-image: url(../img/wps1.jpg);
    background-size: cover; 
}
.wpsmain{
    background-color: #f2f2f2;
    opacity: 85%; 
    padding-bottom: 40px; 
}
.wps-text{
    padding: 0px  60px;
    padding-top: 80px;
    padding-bottom: 25px;
}
.hcs{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.wps{
    font-size: 30pt;
    font-weight: bold; 
}
.wps::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.wpsm{
    margin-bottom: 40px;
}
.wspin{
    display: flex;
}
.wpsttd{ 
    text-align: left;
    margin-left: 30px;
}
.wpsnf{
    display: block;
    font-size: 14pt;
    font-family: 'Montserrat',;
    font-weight: 500px;
    margin-bottom: 5px;
}
.wpstf{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #333333; 
    font-size: 15pt; 
    letter-spacing: -1.5px;
}
.wpstf::after{
    content: "";
    background-color: #f38181;
    height: 3px;
    width: 60px;
    display: block;
    margin-top: 15px;
    margin-bottom:20px ;
}
.wpsdf{
    font-size: 15pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    color: #999999;
}
/* =======================WHAT PEOPLE SAY END===================== */

/* =======================BLOG START===================== */

#blog-s{
    padding-bottom: 70px;
}
.blog-t{
    padding: 0px  60px;
    padding-top: 80px;
    padding-bottom: 25px;
}
.oss{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.lb{
    font-size: 30pt;
    font-weight: bold; 
}
.lb::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.lbmi{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lbimf{
    display: flex;
    width: 350px;
}
.lbdate{
    background-color: #95e1d3;
    width: 60px;
    height: 70px; 
    margin-left: -10px;
    margin-top: -80px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
} 
.lbdtf{
    font-size: 30pt;
    font-weight: 700;
    color: #f2f2f2;
    letter-spacing: -3px;
    margin-bottom: 0px;
    display: inline-block;
    align-content: center;
    line-height: 32px;
}
.lbmf{
    font-size: 15pt;
    font-weight: 400;
    color: #f2f2f2;
    letter-spacing: -1px;
    margin-bottom: 0px;
    display: inline-block;
    align-content: center;
    line-height: 23px;
}
.lbnd{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.lbnf{
    font-size: 14pt;
    font-family: 'Montserrat',;
    font-weight: 500;
    text-transform: uppercase;
}
.lbdf{
    font-size: 15pt;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #999999;
}
.lbnd::after{
    content: "";
    background-color: #e5e5e5;
    width: 340px;
    height: 1px;
    margin: 25px 0px;
}
.lbvnc{
    display: flex;
    margin-bottom: 30px;
}
.lbvf{
    display: flex; 
    align-items:flex-start;
}
.eyic{
    color: #95e1d3;
    line-height: 15pt;
}
.lbvn{
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 15pt;
    font: 300px;
    font-family: 'Roboto', sans-serif; 
    font-style: italic;
    color: #999999;
    line-height: 15pt;
    letter-spacing: -1px;
}
.lbcf{
    display: flex;
    margin-left: 25px;
}
.cmic{
    color: #95e1d3;
    line-height: 15pt;
}
.lbcn{
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 15pt;
    font: 300px;
    font-family: 'Roboto', sans-serif; 
    font-style: italic;
    color: #999999;
    line-height: 15pt;
    letter-spacing: -1px;
} 
.lbim{ 
    position: relative;
    /* overflow: hidden; */
    text-align: center;
} 
.lbim::before{
    content: "";
    position: absolute;
    background: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)) ;
    width: 350px;
    height: 100%;
    top: 0%; 
    overflow-y: hidden;
    left: 0px;
    opacity: 1%;
    transition: all 0.4s linear;
}
.lbim:hover:before{
    opacity: 85%;
}    
.lbim .lbdate{ 
    transform: translateY(-50%) scale(0);
    position: absolute;
    top: 117%;
    left: 0; 
    transition: all 0.4s linear;  
    width: 60px;
    height: 70px;    
}
.lbim:hover .lbdate{
    transform: translateY(-50%) scale(1);  
}

/* ========================BLOG END======================= */

/* <!-- ======================MAP START======================== --> */

#map-s{  
    background-size: cover; 
    background-image: url(../img/m1.jpg);
}
.mm-b{
    background-color: #f2f2f2;
    opacity: 85%; 
}
.m-text{
    padding: 40px 0px;
}
.lic{
    margin-bottom: 10px;
    font-size: 24pt;
    font-weight: 500;
}
.opm{
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Montserrat',;
}
.opm::after{
    content: "";
    background-color: #f38181;
    width: 60px;
    height: 3px;
    display: block;
    margin: 20px auto; 
}
.mlink{
    text-decoration: none;
    color: #f38181;
}
.mlink:hover{
    color: #f38181;
}

     
/* <!-- =======================MAP END======================== --> */

/* ========================Footer Start=-============ */
footer{
    background-color: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 70px;
}
.logo2{
    color: #cccccc;
    font-size: 46pt;
    font-weight: 700;
    margin-bottom: 20px;
    font-family:'Montserrat',  ; 
}
.at p{
    color: #999999;
    font-size: 15px;
    font-family: 'Roboto', ;

}
.fbf p{
    display: inline;
}
.fbf::after{
    content: "";
    background-color: #cccccc;
    height: 1px;
    width: 380px;
    display: block;
    margin: 20px 0px;
}
.fuf{
    font-size: 15px;
    color: #999999;
    display: inline;
}
.fab{
    padding: 7px;
    color: #95e1d3;
    font-size: 20px;
}
.contlist{
    margin-bottom: 20px;
}
.ssf input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
} 
.emf{
    width: 210px;
    padding: 10px;
    border: 0px;
    height: 30px;
    font-style: italic; 
}    
.emf:focus{
    outline: none;
}
.ssbtn{
    width: 100px;
    border: 0px;
    color: #f2f2f2;
    background-color: #95e1d3;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    padding: 0px;
} 
.mbody{
    display: flex; 
    margin-top: 30px;
}
.b1{
    height: 80px;
    width: 120px; 
}
.tnant{
    margin-left: 15px;
}
.name{
    display: inline-block;
    margin-bottom: 0px;
    font-size: 12pt;
    font-weight:500; 
    font-family:'Montserrat', ;
} 
.time{
    margin-bottom: 0px;
    color:#999999;
    font-family: 'Roboto', ;
    font-size: 13pt;
    font-style: italic;
}

.blf{
    font-size: 14pt;
    font-weight: 600;
    display: block; 
    font-family: 'Montserrat',;
    margin-bottom: 43px;
} 
.gallery{ 
    width: 300px;
    flex: 50%; 
    padding: 2px 4px;
}
.gimg{
    width: 90px;
    height: 90px;
}
.seemore{
    margin-top: 15px;
}
.seemore a{
    font-style: italic;
    text-decoration: none;
    color: #999999;
    font-size: 13pt;
    font-family: 'Roboto',;  
}
.seemore:hover{
    color: #999999;
}
.copyright{
    height: 50px;
    background-color: #fff;
    padding-top: 12px;
}
.copyright a{
    text-decoration: none;
    color: red;
    font-size: 14pt;
    font-family: 'Montserrat',;
}
.copyright a:hover{
    color: red;
} 
 
.col-sm-12{
    margin-top: 30px;
}


/* ======================Media Quary==================== */
 
@media(max-width:1200px){ 

    /* =================ABOUT US START================= */
    .box1 .box-content1{
        top: 58%;
    } 
    /* =================ABOUT US END================= */

    /* ===================SERVICES 2 START=================== */

    .s2si{
        width: 456px;
        height: 400px;
    }
    .accordion{
        width: 456px;
        margin: 0px;
    }

    /* ===================SERVICES 2 END=================== */

    /* ===================BLOG START=================== */

    .lbimf{
        display: flex;
        width: 300px;
        height: 220px;
    }
    
    .lbim::before{ 
        width: 300px; 
    }

    /* ===================BLOG END=================== */

}
@media(max-width:992px){
    /* =================BANNER START================= */

    .banner{ 
        margin-top: 50px;
    }
    .fh{
        font-size: 40px;
        font-family: 'Kaushan Script', cursive;
        font-weight: 400;
        font-style: italic;
        letter-spacing: -2.0px;
        color: #f2f2f2;
        margin-bottom: 0px; 
    }  
    .sh{
        font-size:50px;
        font-weight: bold;
        font-family: 'Montserrat',;
        color: #f2f2f2;
        background-color: transparent;
    }
    /* =================BANNER END================= */

    /* =================ABOUT US START================= */
    .box1{
        margin-bottom: 40px;
    }
    .box1 .box-content1{
        top: 58%;
        font-size: 25pt;
    }
    .box1:hover .box-icon1{ 
        font-weight: bold;
        font-size: 35pt; 
        top:38%; 
    } 
    

    /* =================ABOUT US END================= */
 
    /* ===================Facts START=================== */

    .fsff{
        display: inline;
        font-size: 50pt;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 0px;
        font-family: 'Montserrat',;
    }
    .fsfr{
        font-size: 12pt;
        font-weight: 400px;
        font-family: 'Montserrat',;
        color: #ffffff;
    }

    /* ===================Facts end=========== */
    
    /* ===================SERVICES 2 START=================== */

    .s2si{
        margin-left: auto;
        margin-right: auto;
        display: flex;  
        width: 570px;
        height: 380px; 
    }
    .accordion{
        margin-right: auto;
        margin-left: auto;
        width: 560px;
        justify-content: center;
    }

    /* ===================SERVICES 2 END=================== */

    /* =====================QUOTE START=================== */

    .qtca{
        display: block;
    }
    .qimg{  
        display: flex;
        margin: auto;
    } 
    .qtnau{ 
        margin: auto; 
        margin-top: 20px;
        display: inline-block;
    }
    .aut{ 
        display: block;
        text-align: center;
    } 
    .auna{ 
        display: flex;
        margin-top: 20px; 
        justify-content: center;
    } 

    /* ========================QUOTE END======================== */

    /* =======================OUR TEAM start========================= */

    .box{
        margin-top: 50px;
    } 

    /* =======================OUR TEAM END========================= */
 
     /* ========================LOGOS START======================== */

    .logos-m img{
        margin-right: auto;
        margin-left: auto;
        width: 100px;
        height: 100px;
    }
 /* ========================LOGOS END======================== */
    /* =====================Testimonial START=================== */

    .tmca{
        display: block;
    }
    .timg{  
        display: flex;
        margin: auto;
    } 
    .tmnau{ 
        margin: auto; 
        margin-top: 20px;
        display: inline-block;
    }
    .aut{ 
        display: block;
        text-align: center;
    } 
    .auna{ 
        display: flex;
        margin-top: 20px; 
        justify-content: center;
    } 

    /* ========================Testimonial END======================== */
    /* ===================BLOG START=================== */

    .lbimf{
        display: flex;
        width: 380px;
        height: 240px;
    }
    .lbim::before{ 
        width: 380px; 
    }

    /* ===================BLOG END=================== */

    /* ===================Footer Start============ */
    .logo2{
        color: #cccccc;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px; 
        padding-left: 8px;
        font-family:'Montserrat',  ; 
    }
    .at p{
        color: #999999;
        font-size: 15px;
        padding-left: 8px;
        font-family: 'Roboto', ;
    }
    .fbf p{
        display: inline;
        padding-left: 8px;
    }
    .fuf{
        font-size: 15px;
        color: #999999;
        display: inline;
        padding-left: 8px;
    }
    .fab{
        padding: 7px;
        color: #95e1d3;
        font-size: 20px;
        padding-left: 8px;
    }
     
    .contlist{
        margin-bottom: 20px;
        padding-left: 8px;
    }
    .emf{
        width: 210px;
        padding: 0px;
        border: 0px;
        height: 30px;
        padding-left: 8px;
    }
    .ssbtn{
        width: 100px;
        border: 0px;
        color: #f2f2f2;
        background-color: #95e1d3;
        font-size: 14px;
        font-weight: 700;
        height: 30px; 
        padding-left: 8px;
    }
    .copyright{
        height: 30px;
        background-color: #fff;
        padding-top: 10px;
        font-size: 14px;
        font-family: 'Montserrat',;
    }
}
@media(max-width:768px){ 

    /* =========================ABOUT US STRAT===================== */

    .box1 .box-content1{
        top: 58%;
        font-size: 20pt;
    }
    .box1:hover .box-icon1{ 
        font-weight: bold;
        font-size: 22pt; 
        top:42%;  
    } 

    /* =========================ABOUT US END===================== */

    /* =========================FACTS STRAT===================== */
 
    .fmbx{ 
        padding-bottom: 30px;
        margin-right: auto;
        margin-left: auto;  
    } 
    .fsff{
        display: inline;
        font-size: 72pt;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 0px;
        font-family: 'Montserrat',;
        flex-direction: column;
    }
    .fsfr{
        font-size: 14pt;
        font-weight: 400px;
        font-family: 'Montserrat',;
        color: #ffffff;
        flex-direction: column;
    }
    .fsb{
        flex-direction: column; 
    }
    .vl{
        display: none;  
    }
    .hr{
        border-top: 3px solid #ffffff; 
        display: block;  
    }
     /* =========================FACTS END===================== */


    /* =============AMAZING FEATURE START============== */
    .fsimg{
        padding: 0px;
    }
    .fsimgf{
        height: 500px;
        width: 300px;
        margin-left: auto;
        margin-right: auto; 
    }
    .fsimg2f{
        margin-left: -70px;
        margin-bottom: -230px;
        width: 180px;
        height: 350px; 
    }
    /* ============A FEATURE END============= */
    
    /* ===================SERVICES 2 START=================== */

    .s2si{
        margin-left: auto;
        margin-right: auto;  
        width: 570px;
        height: 380px; 
        display: flex;
    }
    .accordion{
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        width: 570px;
    }

    /* ===================SERVICES 2 END=================== */ 

    /* ===================LOGOS START=================== */ 
    .logos-m{
        display: flex;
        justify-content: space-between;
        padding: 40px 0px;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .logos-m img{ 
        width: 150px;
        height: 150px;
        margin: 30px auto;
    }
    /* ===================LOGOS END=================== */ 
}
@media(max-width:425px){ 

    /* =========================BANNER STRAT===================== */
    /* .nav-item{
        display: inline-block; 
        padding: 20px 0px 0px 10px; 
    }
    .nav-item a{
        text-decoration: none; 
        padding-bottom: 7px; 
        display: block;
        color: #f2f2f2;  
        font-size: 17px;
        font-weight: 400px;
        font-family: 'Montserrat',;
        border-bottom: 3px solid transparent;
    }  */
   /* =========================BANNER END===================== */

   /* =========================ABOUT US STRAT===================== */

   .box1{
       margin-left: auto;
       margin-right: auto;
   }
   .box1 .box-content1{
    top: 58%;
    font-size: 18pt;
    }
    .box1:hover .box-icon1{ 
    font-weight: bold;
    font-size: 18pt; 
    top:40%;  
} 

/* =========================ABOUT US END===================== */
 
    /* =============AMAZING FEATURE START============== */
    .fsimg{
        padding: 0px;
    }
    .fsimgf{
        height: 450px;
        width: 300px; 
        margin-left: auto;
        margin-right: auto; 
    }
    .fsimg2f{ 
        margin: 20px auto;
        width: 180px;
        height: 330px; 
    }
    /* ============A FEATURE END============= */
        
    /* ===================SERVICES 2 START=================== */

    .s2si{
        margin-left: auto;
        margin-right: auto;  
        width: 320px;
        height: 300px;
        display: flex;  
    }
    .accordion{
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        width: 320px;
    }

    /* ===================SERVICES 2 END=================== */
    
}

.slick-prev:before,
.slick-next:before{
    position: absolute;
    left: 0;
    color: #000;
    font-size: 50px;
    content: '\f053';
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}

.slick-next:before {
    right: 0;
    left: 100%;
    content: '\f054';
}

.gmain { width: 200px; }
/*.grid-item--width2 { width: 400px; }*/