#main{  
    background-image: url(bg.jpg); 
    background-size: cover;
    text-align: center;
}
.header{ 
    opacity: 90%; 
    background-image: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)); 
} 
.logo{
    display: inline-block; 
    margin-top: 8px; 
}
.logof{
    color: aliceblue;
    text-decoration: none;
    font-size: 40px;
    font-weight: 900; 
    font-family: 'Montserrat', ;
}
.logof:hover{
    color: aliceblue;
} 
.navbar-nav{
    display: block;  
    align-items: center;
    align-self: center;
    align-content: center;
}
.nav-item{
    display: inline-block; 
    padding: 20px 0px 0px 20px; 
} 
.nav-item a{
    text-decoration: none; 
    padding-bottom: 7px;
    float: left;
    display: block;
    color: #f2f2f2; 
    text-decoration: none;
    font-size: 19px;
    font-weight: 400px;
    font-family: 'Montserrat',;
    border-bottom: 3px solid transparent;
}
.nav-item a:hover {
    border-bottom: 2px solid #fce38a;
  }
.nav-item a.active {
    border-bottom: 2px solid #fce38a;
  }
.nav-icone{
    display: inline-block; 
}
.btn-h{
    border: 0px;
    background-color: transparent;
    color: #f2f2f2; 
    padding: 0px;
}
.banner{ 
    margin-top: 70px;
}
.fh{
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -2.0px;
    color: #f2f2f2;
    margin-bottom: 0px; 
}  
.sh{
    font-size: 120px;
    font-weight: bold;
    font-family: 'Montserrat',;
    color: #f2f2f2;
    background-color: transparent;
}
.sh::after{
    background-color: #f2f2f2;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
} 
.btn-lm{
    color: #f2f2f2;
    font-size: 14pt;
    padding: 0px 20px;
    font-family:'Montserrat', ;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid #f2f2f2; 
}
.range{
    height: 50px;
}
.rf{
    width: 100%;
}
.rnum{
    display: inline;
    font-size: 17px;
    font-weight: bold;
    color: #f2f2f2;
    float: left;
    font-family:'Montserrat', ;
}
.rname{
    display: inline;
    font-size: 14px;
    font-weight: 500;
    color: #f2f2f2;
    float: left;
    margin-left: 3px; 
    font-family:'Montserrat', ;
}
footer{
    background-color: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 70px;
}
.logo2{
    color: #cccccc;
    font-size: 46pt;
    font-weight: 700;
    margin-bottom: 20px;
    font-family:'Montserrat',  ; 
}
.at p{
    color: #999999;
    font-size: 15px;
    font-family: 'Roboto', ;

}
.fbf p{
    display: inline;
}
.fuf{
    font-size: 15px;
    color: #999999;
    display: inline;
}
.fab{
    padding: 7px;
    color: #95e1d3;
    font-size: 20px;
}
.contlist{
    margin-bottom: 20px;
}
.emf{
    width: 210px;
    padding: 0px;
    border: 0px;
    height: 30px;
 
}    
.ssbtn{
    width: 100px;
    border: 0px;
    color: #f2f2f2;
    background-color: #95e1d3;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    padding: 0px;
} 
.mbody{
    display: flex; 
}
.b1{
    height: 80px;
    width: 120px; 
}
.tnant{
    margin-left: 15px;
}
.name{
    display: inline-block;
    margin-bottom: 0px;
    font-size: 12pt;
    font-weight:500; 
    font-family:'Montserrat', ;
} 
.time{
    margin-bottom: 0px;
    color:#999999;
    font-family: 'Roboto', ;
    font-size: 13pt;
    font-style: italic;
}

.blf{
    font-size: 14pt;
    font-weight: 600;
    display: block; 
    font-family: 'Montserrat',;
    margin-bottom: 30px;
} 
.gallery{ 
    width: 300px;
    flex: 50%; 
    padding: 2px 4px;
}
.gimg{
    width: 90px;
    height: 90px;
}
.seemore{
    margin-top: 15px;
}
.seemore a{
    font-style: italic;
    text-decoration: none;
    color: #999999;
    font-size: 13pt;
    font-family: 'Roboto',;  
}
.seemore:hover{
    color: #999999;
}
.copyright{
    height: 50px;
    background-color: #fff;
    padding-top: 12px;
}
.copyright a{
    text-decoration: none;
    color: red;
    font-size: 14pt;
    font-family: 'Montserrat',;
}
.copyright a:hover{
    color: red;
} 
 
.col-sm-12{
    margin-top: 30px;
}
@media(max-width:992px){
    .banner{ 
        margin-top: 50px;
    }
    .fh{
        font-size: 40px;
        font-family: 'Kaushan Script', cursive;
        font-weight: 400;
        font-style: italic;
        letter-spacing: -2.0px;
        color: #f2f2f2;
        margin-bottom: 0px; 
    }  
    .sh{
        font-size:50px;
        font-weight: bold;
        font-family: 'Montserrat',;
        color: #f2f2f2;
        background-color: transparent;
    }
    .logo2{
        color: #cccccc;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px; 
        padding-left: 8px;
        font-family:'Montserrat',  ; 
    }
    .at p{
        color: #999999;
        font-size: 15px;
        padding-left: 8px;
        font-family: 'Roboto', ;
    }
    .fbf p{
        display: inline;
        padding-left: 8px;
    }
    .fuf{
        font-size: 15px;
        color: #999999;
        display: inline;
        padding-left: 8px;
    }
    .fab{
        padding: 7px;
        color: #95e1d3;
        font-size: 20px;
        padding-left: 8px;
    }
     
    .contlist{
        margin-bottom: 20px;
        padding-left: 8px;
    }
    .emf{
        width: 210px;
        padding: 0px;
        border: 0px;
        height: 30px;
        padding-left: 8px;
    }
    .ssbtn{
        width: 100px;
        border: 0px;
        color: #f2f2f2;
        background-color: #95e1d3;
        font-size: 14px;
        font-weight: 700;
        height: 30px; 
        padding-left: 8px;
    }
    .copyright{
        height: 30px;
        background-color: #fff;
        padding-top: 10px;
        font-size: 14px;
        font-family: 'Montserrat',;
    }
}
@media(max-width:425px){
    .nav-item{
        display: inline-block; 
        padding: 20px 0px 0px 10px; 
    }
    .nav-item a{
        text-decoration: none; 
        padding-bottom: 7px; 
        display: block;
        color: #f2f2f2;  
        font-size: 17px;
        font-weight: 400px;
        font-family: 'Montserrat',;
        border-bottom: 3px solid transparent;
    }
}