#main{  
    background-image: url(bg.jpg); 
    background-size: cover;
    text-align: center;
}
.header{ 
    opacity: 90%; 
    background-image: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)); 
} 
.logo{
    display: inline-block; 
    margin-top: 8px; 
}
.logof{
    color: aliceblue;
    text-decoration: none;
    font-size: 40px;
    font-weight: 900; 
    font-family: 'Montserrat', ;
}
.logof:hover{
    color: aliceblue;
} 
.navbar-nav{
    display: block;  
    align-items: center;
    align-self: center;
    align-content: center;
}
.nav-item{
    display: inline-block; 
    padding: 20px 0px 0px 20px; 
} 
.nav-item a{
    text-decoration: none; 
    padding-bottom: 7px;
    float: left;
    display: block;
    color: #f2f2f2; 
    text-decoration: none;
    font-size: 19px;
    font-weight: 400px;
    font-family: 'Montserrat',;
    border-bottom: 3px solid transparent;
}
.nav-item a:hover {
    border-bottom: 2px solid #fce38a;
  }
.nav-item a.active {
    border-bottom: 2px solid #fce38a;
  }
.nav-icone{
    display: inline-block; 
}
.btn-h{
    border: 0px;
    background-color: transparent;
    color: #f2f2f2; 
    padding: 0px;
}
.banner{ 
    margin-top: 70px;
}
.fh{
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -2.0px;
    color: #f2f2f2;
    margin-bottom: 0px; 
}  
.sh{
    font-size: 120px;
    font-weight: bold;
    font-family: 'Montserrat',;
    color: #f2f2f2;
    background-color: transparent;
}
.sh::after{
    background-color: #f2f2f2;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
} 
.btn-lm{
    color: #f2f2f2;
    font-size: 14pt;
    padding: 0px 20px;
    font-family:'Montserrat', ;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid #f2f2f2; 
}
.range{
    height: 50px;
}
.rf{
    width: 100%;
}
.rnum{
    display: inline;
    font-size: 17px;
    font-weight: bold;
    color: #f2f2f2;
    float: left;
    font-family:'Montserrat', ;
}
.rname{
    display: inline;
    font-size: 14px;
    font-weight: 500;
    color: #f2f2f2;
    float: left;
    margin-left: 3px; 
    font-family:'Montserrat', ;
}
/* =======================Banner End======================== */

/* ============================About US Start===================== */

#about-us{
    background-color: #fff;
    padding-bottom: 110px;
}
.text-aa{
    padding: 60px  60px;
}
.wwd{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.sau{
    font-size: 30pt;
    font-weight: bold; 
}
.sau::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.aslt{
    color: #999999;
    font-size: 15pt;
    line-height: 24pt; 
    font-weight: 400px;
}  
 
.saimgd1{
    width: 380px;
    height: 250px;
    background-image: url(img/a3.jpg); 
    box-shadow: 8px 8px #95e1d3; 
} 
.bgas{
    width: 380px;
    height: 250px;
    background-image: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)); 
    opacity: 90%; 
    display: flex;
}
.itnim{
    width: 120px;
    height: 40px;
    text-align: center;
    padding-top: 90px;
    padding-left: 115px;  
}
.asii{
    padding-left: 60px;
    color: #fff;
    font-size: 25px;
}
.asimit{
    display:block;
    width: 150px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 18pt;
    font-weight: bold;
    font-family: 'Montserrat',;     
}
.saimgd2{
    width: 380px;
    height: 250px;
    background-image: url(img/a2.jpg);  
} 
.saimgd3{
    width: 380px;
    height: 250px;
    background-image: url(img/a1.jpg);
    border: 3px solid #999999;  
} 
/* ===========about us End==============   */

/* ===================FACTS START================= */

#facts-s{
     background-color:#95e1d3 ;
     /* height: 270px; */
}
#facts-s:hover{ 
    border: 3px solid #999999 ; 
}
.fsb{
    display: flex;
}
.fmbx{ 
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}
.fsff{
    display: inline;
    font-size: 72pt;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0px;
    font-family: 'Montserrat',;
}
.fsfr{
    font-size: 14pt;
    font-weight: 400px;
    font-family: 'Montserrat',;
    color: #ffffff;
}
 
/* ======================FACTS END==================== */

/* =================AMAZING SERVICES START====================  */

#a-services-s{
    background-color: #fff;
     
} 
.asc{
    padding-bottom: 70px;
    padding-top: 80px;
}
.text-aass{
    padding: 30px  60px;
}
.www{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.as{
    font-size: 30pt;
    font-weight: bold; 
}
.as::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.as2pmb{
    display: block; 
}
.asib2b{
    display: block; 
    margin-bottom: 90px;
}
.asibpg{
    display: flex;
}
.asipgl{
    width: 35pt;
    height: 33px; 
    display: flex;
    margin-top: 5px;  
}
.asbpbt{
    display: block;
    margin-left: 25px;
}
.asipgt{
    display: inline-flex-box;
    font-size: 14pt;
    font-family: 'Montserrat',;
    font-weight: 500;
    margin-bottom: 5px; 
}
.asipgd{
    display: inline;
    font-family: "Roboto",;
    font-size: 15pt;
    font-weight: 400;
    color: #999999;
}
.asib22b{
    display: block; 
    margin-bottom: 90px;
}
.asibseo{
    display: flex;
}
.asisel{
    width: 35pt;
    height: 33px; 
    display: flex;
    margin-top: 5px;
}
.asbsbt{
    display: block;
    margin-left: 25px;
}
.asibst{
    display: inline-flex-box;
    font-size: 14pt;
    font-family: 'Montserrat',;
    font-weight: 500;
    margin-bottom: 5px;
}
.asibsd{
    display: inline;
    font-family: "Roboto",;
    font-size: 15pt;
    font-weight: 400;
    color: #999999;
}
/* =================AMAZING SERVICES END====================  */

/* =====================Feature Start================-==== */

#feature-s{
    background-size: cover;
    text-align: center;
    background-image: url(img/f3.jpg); 
}
.fmain{
    background-color: #f2f2f2;
    opacity: 85%; 
}
.text-afs{
    padding: 0px  60px;
    padding-top: 110px;
    padding-bottom: 25px;
}
.fad{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.UD{
    font-size: 30pt;
    font-weight: bold; 
}
.UD::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.fsimgf{
    height: 600px;
    width: 550px;
    margin-left: auto;
    margin-right: auto; 
}
.fsimg2f{
    margin-left: -110px;
    margin-bottom: -250px;
}
/* ========================Feature End=================== */

/* =========================SERVICE START=================== */
#services-s{
    margin-bottom: 80px;
} 
.text-as2{
    padding: 0px  60px;
    padding-top: 110px;
    padding-bottom: 25px;
}
.st{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.wwdo{
    font-size: 30pt;
    font-weight: bold; 
}
.wwdo::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.s2st{
    color: #999999;
    font-size: 15pt;
    line-height: 24pt; 
    font-weight: 400px;
} 
.s2si{
    margin-bottom: 25px;
    height: 380px;
    width: 570px; 
} 
.accordion{
    margin: 0px 0px 0px 25px;
    width: 100%;
}
.accordion-item{
    border: 1px solid #cccccc; 
    margin-bottom: 20px;
} 
.bb-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; 
    text-decoration: none;
}
.bb-link i:hover{ 
    color: #cccccc;  
}
.bb-link i{
    width: 21px;
    height: 12px;
    font-size: 14pt;
    color: #cccccc; 
    text-decoration: none;
}
.ltp{
    display: flex;
    align-items: center;
}
.ltp img{
    width: 30px;
    height: 30px;
}
.ltp h1{
    font-size: 14pt;
    font-weight: 500;
    font-family: 'Montserrat',;
    padding-left: 20px;
    margin-bottom: 0px; 
    color: #000;
}
.ltp h1:hover{
    color: #000;
} 
.bb-link .fa-chevron-up{
    display: none;
}
.d-lorem{
    max-height: 0;
    overflow: hidden; 
    border-top: 1px solid #cccccc; 
} 
.pltf{
    padding: 15px; 
    font-size: 15pt;
    font-style: italic;
    font-family: 'Roboto',;
    color: #cccccc;
}
.accordion-item:target .d-lorem{
    max-height: 20rem;
} 
.accordion-item:target .bb-link .fa-chevron-down{
    display: none;
}
.accordion-item:target .bb-link .fa-chevron-up{
    display: block;
}
 
/* ============================SERVICES END===================== */

/* ==============================Quote- START===================== */

#quote-s{
    background-color: #f2f2f2; 
}
.quote-b{
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    padding: 70px 0px;
}
.qtca{
    display: flex;
}
.qimg{
    border: 2px solid #95e1d3;
    padding: 70px;
    margin-left: 70px; 
}
.qtnau{
    display: block;
    justify-content: space-between;
    margin-left: 50px; 
} 
.aut{
    font-size: 24pt;
    font-style: italic;
    font-family: 'Roboto',;
    color: #cccccc;
    margin-bottom: 0px;
    display: block;
} 
.auna{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
    display: flex;
    margin-top: 20px;
}
.auna::before{
    background-color: #f38181;
     content: "";
     display: flex;
     width: 60px;
     height: 3px; 
     margin-top: 20px;
     margin-right: 10px;
}
.fa-chevron-left{
    height: 21px;
    width: 12px;
    color: #999999;
}
.fa-chevron-right{
    height: 21px;
    width: 12px;
    color: #999999;
}
  
/* ======================Quote END============================ */

/* =======================OUR TEAM START====================== */

.tots{ 
    padding-top: 110px;
    padding-bottom: 25px;
}
.wwa{
    font-family:  'Kaushan Script', cursive; 
    font-size: 24pt;
}
.mot{
    font-size: 30pt;
    font-weight: bold; 
}
.mot::after{
    background-color: #f38181;
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 40px auto;
}
.otlt{ 
    color: #999999;
    font-size: 15pt;
    line-height: 24pt; 
    font-weight: 400px;
    margin-bottom: 5rem; 
}
.m-dix{ 
    width: 380px;
    height: 470px; 
    box-shadow: 8px 8px #95e1d3;    
    background-image: url(img/ot1.jpg);
    margin-top: -8px;
    margin-left: -10px; 
}
.m-dix-im{
    display: flex;
    background-image: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)); 
    opacity: 90%; 
    width: 380px;
    height: 470px;
} 
.oti2{
    width: 380px;
    height: 470px;
}
.otim3{
    width: 380px;
    height: 470px;
}

/* =======================OUR TEAM END========================= */

/* ========================Footer Start=-============ */
footer{
    background-color: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 70px;
}
.logo2{
    color: #cccccc;
    font-size: 46pt;
    font-weight: 700;
    margin-bottom: 20px;
    font-family:'Montserrat',  ; 
}
.at p{
    color: #999999;
    font-size: 15px;
    font-family: 'Roboto', ;

}
.fbf p{
    display: inline;
}
.fuf{
    font-size: 15px;
    color: #999999;
    display: inline;
}
.fab{
    padding: 7px;
    color: #95e1d3;
    font-size: 20px;
}
.contlist{
    margin-bottom: 20px;
}
.emf{
    width: 210px;
    padding: 0px;
    border: 0px;
    height: 30px;
 
}    
.ssbtn{
    width: 100px;
    border: 0px;
    color: #f2f2f2;
    background-color: #95e1d3;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    padding: 0px;
} 
.mbody{
    display: flex; 
}
.b1{
    height: 80px;
    width: 120px; 
}
.tnant{
    margin-left: 15px;
}
.name{
    display: inline-block;
    margin-bottom: 0px;
    font-size: 12pt;
    font-weight:500; 
    font-family:'Montserrat', ;
} 
.time{
    margin-bottom: 0px;
    color:#999999;
    font-family: 'Roboto', ;
    font-size: 13pt;
    font-style: italic;
}

.blf{
    font-size: 14pt;
    font-weight: 600;
    display: block; 
    font-family: 'Montserrat',;
    margin-bottom: 30px;
} 
.gallery{ 
    width: 300px;
    flex: 50%; 
    padding: 2px 4px;
}
.gimg{
    width: 90px;
    height: 90px;
}
.seemore{
    margin-top: 15px;
}
.seemore a{
    font-style: italic;
    text-decoration: none;
    color: #999999;
    font-size: 13pt;
    font-family: 'Roboto',;  
}
.seemore:hover{
    color: #999999;
}
.copyright{
    height: 50px;
    background-color: #fff;
    padding-top: 12px;
}
.copyright a{
    text-decoration: none;
    color: red;
    font-size: 14pt;
    font-family: 'Montserrat',;
}
.copyright a:hover{
    color: red;
} 
 
.col-sm-12{
    margin-top: 30px;
}


/* ======================Media Quary==================== */
@media(max-width:1400px){
    .saimgd1{
        width: 330px;
        height: 250px;
        background-image: url(img/a3.jpg); 
        box-shadow: 8px 8px #95e1d3; 
        margin: 0px 15px;
    } 
    .bgas{
        width: 330px;
        height: 250px;
        background-image: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)); 
        opacity: 90%; 
        display: flex; 
    }
    .itnim{
        width: 120px;
        height: 40px;
        text-align: center;
        padding-top: 90px;
        padding-left: 90px;   
    }
    .saimgd2{
        width: 330px;
        height: 250px;
        background-image: url(img/a2.jpg);
        margin: 0px 15px;  
    } 
    .saimgd3{
        width: 330px;
        height: 250px;
        background-image: url(img/a1.jpg);
        border: 3px solid #999999;  
        margin: 0px 15px;
    }
    /* ====================about us end =================== */
}
@media(max-width:1200px){
    .saimgd1{
        width: 310px;
        height: 250px;
        background-image: url(img/a3.jpg); 
        box-shadow: 8px 8px #95e1d3; 
        margin: 0px 15px; 
    } 
    .bgas{
        width: 310px;
        height: 250px;
        background-image: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)); 
        opacity: 90%; 
        display: flex; 
    }
    .itnim{
        width: 120px;
        height: 40px;
        text-align: center;
        padding-top: 90px;
        padding-left: 75px;   
    }
    .saimgd2{
        width: 310px;
        height: 250px;
        background-image: url(img/a2.jpg);
        margin: 0px 15px;  
    } 
    .saimgd3{
        width: 310px;
        height: 250px;
        background-image: url(img/a1.jpg);
        border: 3px solid #999999;  
        margin: 0px 15px;
    }
    /* ==================about us end============ */

    /* ===================SERVICES 2 START=================== */

    .s2si{
        width: 456px;
        height: 400px;
    }
    .accordion{
        width: 456px;
        margin: 0px;
    }

    /* ===================SERVICES 2 END=================== */

}
@media(max-width:992px){
    .banner{ 
        margin-top: 50px;
    }
    .fh{
        font-size: 40px;
        font-family: 'Kaushan Script', cursive;
        font-weight: 400;
        font-style: italic;
        letter-spacing: -2.0px;
        color: #f2f2f2;
        margin-bottom: 0px; 
    }  
    .sh{
        font-size:50px;
        font-weight: bold;
        font-family: 'Montserrat',;
        color: #f2f2f2;
        background-color: transparent;
    }
    /* =================about us================= */
    .saimgd1{
        width: 310px;
        height: 250px;
        background-image: url(img/a3.jpg); 
        box-shadow: 8px 8px #95e1d3; 
        margin-left: auto;
        margin-right: auto;
    } 
    .bgas{
        width: 310px;
        height: 250px;
        background-image: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)); 
        opacity: 90%; 
        display: flex; 
    }
    .itnim{
        width: 120px;
        height: 40px;
        text-align: center;
        padding-top: 90px;
        padding-left: 75px;   
    }
    .saimgd2{
        width: 310px;
        height: 250px;
        background-image: url(img/a2.jpg); 
        margin-left: auto;
        margin-right: auto; 
    } 
    .saimgd3{
        width: 310px;
        height: 250px;
        background-image: url(img/a1.jpg);
        border: 3px solid #999999; 
        margin-left: auto;
        margin-right: auto;
    }

    /* ===========Facts=================== */

    .fsff{
        display: inline;
        font-size: 50pt;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 0px;
        font-family: 'Montserrat',;
    }
    .fsfr{
        font-size: 12pt;
        font-weight: 400px;
        font-family: 'Montserrat',;
        color: #ffffff;
    }

    /* ===================Facts end=========== */
    
    /* ===================SERVICES 2 START=================== */

    .s2si{
        margin-left: auto;
        margin-right: auto;
        display: flex;  
        width: 570px;
        height: 380px; 
    }
    .accordion{
        margin-right: auto;
        margin-left: auto;
        width: 560px;
        justify-content: center;
    }

    /* ===================SERVICES 2 END=================== */

    /* =====================QUOTE START=================== */

    .qtca{
        display: block;
    }
    .qimg{  
        display: flex;
        margin: auto;
    } 
    .qtnau{ 
        margin: auto; 
        margin-top: 20px;
        display: inline-block;
    }
    .aut{ 
        display: block;
        text-align: center;
    } 
    .auna{ 
        display: flex;
        margin-top: 20px; 
        justify-content: center;
    } 

    /* ========================QUOTE END======================== */

    /* ===================Footer============ */
    .logo2{
        color: #cccccc;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px; 
        padding-left: 8px;
        font-family:'Montserrat',  ; 
    }
    .at p{
        color: #999999;
        font-size: 15px;
        padding-left: 8px;
        font-family: 'Roboto', ;
    }
    .fbf p{
        display: inline;
        padding-left: 8px;
    }
    .fuf{
        font-size: 15px;
        color: #999999;
        display: inline;
        padding-left: 8px;
    }
    .fab{
        padding: 7px;
        color: #95e1d3;
        font-size: 20px;
        padding-left: 8px;
    }
     
    .contlist{
        margin-bottom: 20px;
        padding-left: 8px;
    }
    .emf{
        width: 210px;
        padding: 0px;
        border: 0px;
        height: 30px;
        padding-left: 8px;
    }
    .ssbtn{
        width: 100px;
        border: 0px;
        color: #f2f2f2;
        background-color: #95e1d3;
        font-size: 14px;
        font-weight: 700;
        height: 30px; 
        padding-left: 8px;
    }
    .copyright{
        height: 30px;
        background-color: #fff;
        padding-top: 10px;
        font-size: 14px;
        font-family: 'Montserrat',;
    }
}
@media(max-width:768px){ 
    .fmbx{ 
        padding-bottom: 30px;
        margin-right: auto;
        margin-left: auto;  
    } 
    .fsff{
        display: inline;
        font-size: 72pt;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 0px;
        font-family: 'Montserrat',;
        flex-direction: column;
    }
    .fsfr{
        font-size: 14pt;
        font-weight: 400px;
        font-family: 'Montserrat',;
        color: #ffffff;
        flex-direction: column;
    }
    .fsb{
        flex-direction: column; 
    }
    /* ==========facts end========== */

    /* =============AMAZING FEATURE START============== */
    .fsimg{
        padding: 0px;
    }
    .fsimgf{
        height: 500px;
        width: 300px;
        margin-left: auto;
        margin-right: auto; 
    }
    .fsimg2f{
        margin-left: -70px;
        margin-bottom: -230px;
        width: 180px;
        height: 350px; 
    }
    /* ============A FEATURE END============= */
    
    /* ===================SERVICES 2 START=================== */

    .s2si{
        margin-left: auto;
        margin-right: auto;  
        width: 570px;
        height: 380px; 
        display: flex;
    }
    .accordion{
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        width: 570px;
    }

    /* ===================SERVICES 2 END=================== */ 
}
@media(max-width:425px){
    .nav-item{
        display: inline-block; 
        padding: 20px 0px 0px 10px; 
    }
    .nav-item a{
        text-decoration: none; 
        padding-bottom: 7px; 
        display: block;
        color: #f2f2f2;  
        font-size: 17px;
        font-weight: 400px;
        font-family: 'Montserrat',;
        border-bottom: 3px solid transparent;
    } 
      /* =================about us================= */
      .saimgd1{
        width: 290px;
        height: 230px;
        background-image: url(img/a3.jpg); 
        box-shadow: 8px 8px #95e1d3; 
        /* margin: 0px 15px; */
        margin-left: auto;
        margin-right: auto;
    }  
    .bgas{
        width: 290px;
        height: 230px;
        background-image: linear-gradient(rgba(243, 129, 129), rgba(252, 227, 138)); 
        opacity: 90%; 
        display: flex;  
    }
    .itnim{
        width: 120px;
        height: 40px;
        text-align: center;
        padding-top: 80px;
        padding-left: 65px;  
    }
    .saimgd2{
        width: 300px;
        height: 230px;
        background-image: url(img/a2.jpg);
        margin-left: auto;
        margin-right: auto;
    } 
    .saimgd3{
        width: 300px;
        height: 230px;
        background-image: url(img/a1.jpg);
        border: 3px solid #999999;  
        margin-left: auto;
        margin-right: auto;
    }
    /* =============AABOUT US END=========== */

    /* =============AMAZING FEATURE START============== */
    .fsimg{
        padding: 0px;
    }
    .fsimgf{
        height: 450px;
        width: 300px; 
        margin-left: auto;
        margin-right: auto; 
    }
    .fsimg2f{ 
        margin: 20px auto;
        width: 180px;
        height: 330px; 
    }
    /* ============A FEATURE END============= */
        
    /* ===================SERVICES 2 START=================== */

    .s2si{
        margin-left: auto;
        margin-right: auto;  
        width: 320px;
        height: 300px;
        display: flex;  
    }
    .accordion{
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        width: 320px;
    }

    /* ===================SERVICES 2 END=================== */

    
}